body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
*{
    outline: none;
}
.gameInfo{
    user-select: none;
}
.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: .3s;
    user-select: none;
    font-size: larger;
    /* padding: 0px; */
    border: 2px solid black;
}
.board td:not(.shown):hover {
    background-color: lightsalmon;
}
.board td.shown{
    background-color: darkgray;
}
.safeClick{
    background-color: yellow !important
}
table {
    border-collapse: collapse;
    margin: 20px auto;
}
h1{
    font-size: 50px;
    border-bottom: 10px solid red;
    padding-bottom: 10px;
}

.minesAround1{
    color:blue;
}
.minesAround2{
    color:green;
}
.minesAround3{
    color:red;
}
.minesAround4{
    color:darkblue;
}
.minesAround5{
    color:brown;
}
.minesAround6{
    color:turquoise;
}
.minesAround7{
    color:black;
}
.minesAround8{
    color:gray;
}


.grid-container {
    display: grid;
    grid-template-columns: 1.2fr;
    grid-template-rows: 0.5fr 0.3fr 2.9fr;
    gap: 1px 1px;
    grid-template-areas: "header" "gameInfo" "game";
  }
  
  .header { grid-area: header;
background-color: #a3a3ff; }
  
  .gameInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "lives smiley timer";
    grid-area: gameInfo;
  }
  
  .smiley { grid-area: smiley; }
  
  .timer { grid-area: timer; }
  
  .lives { grid-area: lives; }
  
  .game {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "difficulties gameTableArea gameFunctions";
    grid-area: game;
  }
  
  .gameTableArea { grid-area: gameTableArea; }
  
  .difficulties { grid-area: difficulties; }
  
  .gameFunctions { grid-area: gameFunctions; }

.prettyButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
    text-decoration:none;
    margin: 10px;
	text-shadow:0px 1px 0px #3d768a;
}
.prettyButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.prettyButton:active {
	position:relative;
	top:1px;
}
.prettyButton:first-child{
    margin-top: 70px;
}
.gameInfo{
    font-size: 40px;
}
.smiley button{
    border: 0px;
    background-color: white;
    font-size: 40px;
    cursor: pointer;
}
.lives{
    text-align: right;
}
.timer{
    text-align: left;
}
.modal {
    text-align: right;
    background-color: lightseagreen;
    position: fixed;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
    width: 300px;
    z-index: 10;
}
.modal h3{
    text-align: center;
}